.actionButton {
    background: -webkit-linear-gradient(#ff003e,#a409ad);
    border-radius: 90px;
    color: #fff;
    font-size: 40px;
    border: none;
    display: block;
    margin-bottom: 60px;
    padding: 20px 80px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: bold;
    line-height: 28px;
    max-width: 400px;
    max-height: 100px; 
}

.actionButton:focus {
    outline: none;
}


