body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titleHeading {
  font-size: 72px;
  line-height: 82px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  position: relative;
  z-index: 100000;
  margin: 0 0 32px 0;
  text-shadow: 0 0 29px #000;
}

.titleSpan {
  font-size: 72px;
  line-height: 82px;
  display: block;
  color: #ff003e;
  font-style: italic;
  background: -webkit-linear-gradient(#ff003e,#a409ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-shadow: none;
}

.titleContent { 
  text-align: center;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 18px;
  margin: 0 0 16px 0;
}

.titleContentLast { 
  text-align: center; 
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 18px;
  margin: 32px 0px;
}

.titleContainer {
  margin-Top:50px;
}

.titleContentLast span {
  margin: 0px 10px;
}
 
.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.playerIcon {
  outline: none;
  border: none;
}

@media(max-width: 700px) {
  .mobile-action-button {
    margin-bottom: 50px !important;
    max-width: 320px !important;
    padding: 20px 30px !important;
    font-size: 32px !important;
  }
  .playButton {
    margin-bottom: 60px !important;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .titleContent {
    padding: 10px;
  }
}